USE [master]
GO
/****** Object:  Database [Microblogger]    Script Date: 21-12-2018 00:18:02 ******/
CREATE DATABASE [Microblogger]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microblogger', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Microblogger.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Microblogger_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Microblogger_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microblogger].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microblogger]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21-12-2018 00:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Following]    Script Date: 21-12-2018 00:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Following](
	[FollowingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[User_UserID] [int] NULL,
	[Follow_UserID] [int] NULL,
	[User_UserID1] [int] NULL,
 CONSTRAINT [PK_dbo.Following] PRIMARY KEY CLUSTERED 
(
	[FollowingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tweet]    Script Date: 21-12-2018 00:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tweet](
	[TweetID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tweet] PRIMARY KEY CLUSTERED 
(
	[TweetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 21-12-2018 00:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmailID] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[Contact] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Voting]    Script Date: 21-12-2018 00:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voting](
	[VotingID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [bit] NOT NULL,
	[UserID] [int] NOT NULL,
	[TweetID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Voting] PRIMARY KEY CLUSTERED 
(
	[VotingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Following] ON 

INSERT [dbo].[Following] ([FollowingID], [UserID], [User_UserID], [Follow_UserID], [User_UserID1]) VALUES (10, 29, 29, 30, 29)
INSERT [dbo].[Following] ([FollowingID], [UserID], [User_UserID], [Follow_UserID], [User_UserID1]) VALUES (11, 30, 30, 29, 30)
INSERT [dbo].[Following] ([FollowingID], [UserID], [User_UserID], [Follow_UserID], [User_UserID1]) VALUES (12, 31, 31, 32, 31)
SET IDENTITY_INSERT [dbo].[Following] OFF
SET IDENTITY_INSERT [dbo].[Tweet] ON 

INSERT [dbo].[Tweet] ([TweetID], [Description], [CreatedDate], [UpdatedDate], [UserID], [Address]) VALUES (57, N'Akshay Jhamb Bits Pilani 2018 Batch', CAST(N'2018-12-19 12:22:59.707' AS DateTime), CAST(N'2018-12-19 12:22:59.707' AS DateTime), 29, N'Akshay Jhamb')
INSERT [dbo].[Tweet] ([TweetID], [Description], [CreatedDate], [UpdatedDate], [UserID], [Address]) VALUES (58, N'Abohar', CAST(N'2018-12-19 12:45:50.207' AS DateTime), CAST(N'2018-12-19 12:45:50.207' AS DateTime), 29, N'Akshay Jhamb')
INSERT [dbo].[Tweet] ([TweetID], [Description], [CreatedDate], [UpdatedDate], [UserID], [Address]) VALUES (59, N'Army School Abohar', CAST(N'2018-12-19 12:47:14.483' AS DateTime), CAST(N'2018-12-19 12:47:14.483' AS DateTime), 30, N'Sushaan Jhamb')
SET IDENTITY_INSERT [dbo].[Tweet] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [EmailID], [FirstName], [LastName], [ProfileImage], [Contact], [Country], [Password]) VALUES (29, N'akshayjhamb002@gmail.com', N'Akshay', N'Jhamb', N'/a.jpg', N'7986908300', N'india', N'akshay')
INSERT [dbo].[User] ([UserID], [EmailID], [FirstName], [LastName], [ProfileImage], [Contact], [Country], [Password]) VALUES (30, N'sushaanjhamb@gmail.com', N'Sushaan', N'Jhamb', N'/a.jpg', N'9256066445', N'india', N'sushaan')
INSERT [dbo].[User] ([UserID], [EmailID], [FirstName], [LastName], [ProfileImage], [Contact], [Country], [Password]) VALUES (31, N'megha2@gmail.com', N'megha', N'raizzada', N'/a.jpg', N'8989898989', N'india', N'megha')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Voting] ON 

INSERT [dbo].[Voting] ([VotingID], [Status], [UserID], [TweetID]) VALUES (13, 0, 37, 65)
INSERT [dbo].[Voting] ([VotingID], [Status], [UserID], [TweetID]) VALUES (14, 1, 37, 62)
INSERT [dbo].[Voting] ([VotingID], [Status], [UserID], [TweetID]) VALUES (15, 1, 37, 58)
SET IDENTITY_INSERT [dbo].[Voting] OFF
/****** Object:  Index [IX_Follow_UserID]    Script Date: 21-12-2018 00:18:02 ******/
CREATE NONCLUSTERED INDEX [IX_Follow_UserID] ON [dbo].[Following]
(
	[Follow_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_UserID]    Script Date: 21-12-2018 00:18:02 ******/
CREATE NONCLUSTERED INDEX [IX_User_UserID] ON [dbo].[Following]
(
	[User_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_UserID1]    Script Date: 21-12-2018 00:18:02 ******/
CREATE NONCLUSTERED INDEX [IX_User_UserID1] ON [dbo].[Following]
(
	[User_UserID1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 21-12-2018 00:18:02 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Tweet]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Following]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Following_dbo.User_Follow_UserID] FOREIGN KEY([Follow_UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Following] CHECK CONSTRAINT [FK_dbo.Following_dbo.User_Follow_UserID]
GO
ALTER TABLE [dbo].[Following]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Following_dbo.User_User_UserID] FOREIGN KEY([User_UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Following] CHECK CONSTRAINT [FK_dbo.Following_dbo.User_User_UserID]
GO
ALTER TABLE [dbo].[Following]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Following_dbo.User_User_UserID1] FOREIGN KEY([User_UserID1])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Following] CHECK CONSTRAINT [FK_dbo.Following_dbo.User_User_UserID1]
GO
ALTER TABLE [dbo].[Tweet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tweet_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tweet] CHECK CONSTRAINT [FK_dbo.Tweet_dbo.User_UserID]
GO
USE [master]
GO
